.btn-mode {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  border: 2px solid black;
  transition: background-color 0.5s;
}
.btn-mode i {
  display: block;
  font-size: 17px;
  text-align: center;
  line-height: 30px;
}
.btn-mode.sun {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 1px solid transparent;
}
.btn-mode.moon {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.active2 {
  background-color: black;
  color: #ffcd5c !important;
}
.contenedor-botonDark {
  background: #6c757d;
}
/* //------------- */

.dark-mode {
  background-color: #0e0e0e !important;
  transition: background-color 0.5s;
  background: #0e0e0e !important;
}

.dark-mode h1,
.dark-mode .btn-mode {
  color: white;
}

.dark-mode p {
  color: white;
}
