.footer-container {
  width: 100%;
  height: 100vh;
  background-color: #a7a7a7;
  color: white;
  padding-top: 15rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}
.footer_info {
  font-size: 1.5rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
  width: 95%;
  margin: 0 auto;
  position: relative;
  top: 2em;
}

.footer_info h1 {
  padding-bottom: 0.5rem;
}
.footer_contact {
  font-size: 2rem;
  padding: 1rem 0 1rem 1rem;
  width: 70%;
  margin: 0 auto;
}
.footer_sns {
  padding-top: 6rem;
  position: absolute;
  top: 475%;
  left: 40%;
}
.sns_links {
  display: grid;
  width: 20%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  position: relative;
  top: 2em;
}
.sns_links a {
  padding: 1rem;
}
.linkedin,
.envelope,
.whatsapp,
.github {
  color: white;
  font-size: 3rem;
  margin: 0 auto;
  padding-bottom: 0.5rem;
  border-bottom: 0.5rem solid transparent;
  transition: all 0.3s ease-out;
}
.linkedin:hover {
  color: #7d80da;
}
.envelope:hover {
  color: #7d80da;
}
.whatsapp:hover {
  color: #48e120;
}
.github:hover {
  color: #3e4144;
}
.text_container {
  position: relative;
  top: 5em;
}
.botoncv {
  background-color: rgb(95, 92, 92);
  color: white;
  padding: 0.5rem;
  border-radius: 0.4rem;
  transition: all 0.3s ease-out;
  position: relative;
  left: 30%;
}
.botoncv:hover {
  color: black;
  background-color: #8ae0db;
  font-size: 99%;
}
.desing_by {
  font-size: 1rem;
  padding-left: 1rem;
  color: white;
}
@media only screen and (max-width: 760px) {
  .footer-container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .desing_by {
    text-align: center;
  }
  .footer_info {
    font-size: medium;
  }
  .sns_links i {
    font-size: 2rem;
  }
  .sns_links {
    padding: 1px;
  }
}
