.shadow-on-scroll {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s;
}

.shadow-on-scroll.scrolled {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.navbar-brand img {
  width: 8%;
  height: auto;
  position: absolute;
  top: 0;
  border-radius: 6em;
  transition: all 400ms ease;
}

.navbar-brand img:hover {
  transform: scale(1.1);
}
.bg-dark {
  background-color: #0e0e0e !important;
}
@media (max-width: 600px) {
  .navbar-brand img {
    width: 20%;
  }
}
